@import "../variables";
@import "../mixins";

.about {
  margin-left: 9.4%;
  margin-right: 9.4%;
  margin-bottom: 55px;
}

.about__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.about__list {
  @include clear-list;
  display: flex;
  flex-direction: column;
}

.about__item {
  position: relative;

  padding-top: 45px;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  width: 100%;
}

.about__item--style-flower {
  padding-top: 66px;
  width: 175px;

  order: 0;

  &::before {
    position: absolute;
    top: 12px;
    left: 10px;

    width: 32px;
    height: 37px;

    background-image: url("../img/icon-feature-flower.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    content: "";
  }
}

.about__item--style-money {
  padding-top: 83px;
  width: 205px;

  order: 0;

  &::before {
    position: absolute;
    top: 30px;
    left: 2px;

    width: 47px;
    height: 27px;

    background-image: url("../img/icon-feature-money.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    content: "";
  }
}

.about__item--style-heart {
  padding-top: 83px;
  width: 185px;

  order: 0;

  &::before {
    position: absolute;
    top: 35px;
    left: 10px;

    width: 34px;
    height: 27px;

    background-image: url("../img/icon-feature-heart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    content: "";
  }
}

.about__item--style-ball {
  padding-top: 83px;
  width: 215px;

  order: 0;

  &::before {
    position: absolute;
    top: 32px;
    left: 5px;

    width: 35px;
    height: 34px;

    background-image: url("../img/icon-feature-ball.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    content: "";
  }
}

.about__item--style-rocket {
  padding-top: 83px;
  width: 255px;

  order: 0;

  &::before {
    position: absolute;
    top: 33px;
    left: -5px;

    width: 54px;
    height: 34px;

    background-image: url("../img/icon-feature-rocket.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    content: "";
  }
}

.about__item--style-gift {
  padding-top: 83px;
  width: 200px;

  order: 0;

  &::before {
    position: absolute;
    top: 30px;
    left: 5px;

    width: 35px;
    height: 34px;

    background-image: url("../img/icon-feature-gift.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    content: "";
  }
}

@media (min-width: $width-tablet) {
  .about {
    margin-left: 6.5%;
    margin-right: 6.5%;
    margin-bottom: 100px;
  }

  .about__list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }

  .about__item {
    width: 334px;

    font-size: 20px;
    line-height: 22px;
  }

  .about__title {
    font-size: 43px;
    line-height: 50px;
  }

  .about__item--style-ball {
    order: 1;
  }

  .about__item--style-money {
    order: 2;
  }

  .about__item--style-rocket {
    order: 3;
  }

  .about__item--style-heart {
    order: 4;
  }

  .about__item--style-gift {
    order: 5;
  }
}

@media (min-width: $width-desktop) {
  .about {
    margin-left: 225px;
    margin-right: 225px;
  }

  .about__title {
    font-size: 53px;
    line-height: 57px;
  }

  .about__item {
    width: 350px;
  }
}
