@import "../variables";

.button {
  display: block;
  width: 259px;
  padding-top: 14px;
  padding-bottom: 14px;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: $button-border-color;

  border: 2px solid $button-border-color;
  box-sizing: border-box;
}
