.check__element {
  &::before {
    position: absolute;
    top: -5px;
    left: 0;

    display: block;
    width: 40px;
    height: 40px;

    background-color: $color-white;
    border: 2px solid $button-border-color;
    box-sizing: border-box;

    content: "";
  }

  &:hover::before,
  &:focus::before {
    border: 2px solid $color-lime;
    outline: 1;
  }

  &:active::before {
    border: 2px solid $button-border-color;
    opacity: 0.3;
  }
}

.check__element--circle {
  &::before {
    border-radius: 50%;
  }
}

.check__element--rect-checked {
  &::after {
    position: absolute;
    top: 0;
    left: 4px;
    display: block;

    width: 32px;
    height: 22px;

    background-image: url("../../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    content: "";
  }
}

.order-fieldset__sort-type:checked ~ label::after {
  position: absolute;
    top: 7px;
    left: 13px;

    display: block;
    width: 15px;
    height: 15px;

    background-color: $color-lime;
    border-radius: 50%;

    content: "";
}

.order-fieldset__sort-color:checked ~ label::after {
  position: absolute;
  top: 0;
  left: 4px;

  display: block;
  width: 32px;
  height: 22px;

  background-image: url("../../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  content: "";
}


@media (min-width: $width-tablet) {
  .check__element::before {
    top: -15px;
    width: 52px;
    height: 52px;
  }

  .order-fieldset__sort-type:checked ~ label::after {
    top: 0;
    left: 16px;
    width: 20px;
    height: 20px;
  }

  .order-fieldset__sort-color:checked ~ label::after {
    top: 0;
    left: 10px;
  }
}
