@import "../variables";
@import "../mixins";

.featured {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 25px;
}

.featured-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featured-wrapper__mobile-picture {
  display: block;
}

.featured__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 23px;
}

.featured-wrapper__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featured-wrapper__left,
.featured-wrapper__right {
  width: 100%;
}

.featured-wrapper__right {
  display: none;
}

.featured__title {
  @include clear;
  margin-bottom: 5px;

  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.featured__lure {
  display: block;
  width: 100%;

  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-lime;
  font-weight: bold;
}

.featured__text {
  width: 260px;

  font-size: 15px;
  line-height: 24px;
}

.featured__table {
  width: 100%;
  margin-bottom: 31px;

  font-size: 15px;
  line-height: 20px;

  border-collapse: collapse;
}

.featured__cell-left {
  padding-top: 12px;
  padding-bottom: 7px;

  border-bottom: 1px solid $table-border-color;
}

.featured__cell-right {
  padding-top: 11px;
  padding-bottom: 6px;
  padding-left: 17px;

  border-bottom: 1px solid $table-border-color;
}

.featured__picture {
  margin-bottom: 20px;
}

.featured__price {
  @include clear;
  margin-bottom: 25px;

  text-align: center;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

@media (min-width: $width-tablet) {
  .featured {
    padding-left: 50px;
    padding-right: 50px;
  }

  .featured-wrapper {
    flex-direction: row;
  }

  .featured__header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .featured__title {
    font-size: 43px;
    line-height: 50px;
  }

  .featured__lure {
    width: 80px;
    margin-right: 25px;

    line-height: 17px;
    text-align: center;
  }

  .featured-wrapper__right {
    display: block;
  }

  .featured-wrapper__left,
  .featured-wrapper__right {
    width: 50%;
  }

  .featured-wrapper__mobile-picture {
    display: none;
  }
}

@media (min-width: $width-desktop) {
  .featured__title {
    font-size: 53px;
    line-height: 57px;
  }

  .featured-wrapper__right {
    flex-shrink: 0;
  }
  .featured-wrapper__left {
    margin-left: 80px;
  }
}
