@import "../variables";
@import "../mixins";

.featured {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 25px;
}

.featured-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featured-wrapper__mobile-picture {
  position: static;
  margin-bottom: 15px;
  min-width: 260px;
  min-height: 315px;
}

.featured__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.featured-wrapper__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featured-wrapper__left,
.featured-wrapper__right {
  width: 100%;
}

.featured-wrapper__right {
  display: none;
}

.featured__title {
  @include clear;
  margin-bottom: 5px;

  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.featured__lure {
  display: block;
  width: 100%;

  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-lime;
  font-weight: bold;
}

.featured__text {
  width: 260px;

  font-size: 15px;
  line-height: 24px;
}

.featured__table {
  width: 100%;
  margin-bottom: 31px;

  font-size: 15px;
  line-height: 20px;

  border-collapse: collapse;
}

.featured__cell-left {
  padding-top: 12px;
  padding-bottom: 7px;

  border-bottom: 1px solid $table-border-color;
}

.featured__cell-right {
  padding-top: 11px;
  padding-bottom: 6px;
  padding-left: 17px;

  border-bottom: 1px solid $table-border-color;
}

.featured__picture {
  margin-bottom: 18px;
}

.featured__price {
  @include clear;
  margin-bottom: 28px;

  text-align: center;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.featured__button {
  width: 260px;
}

@media (min-width: $width-tablet) {
  .featured {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 45px;
  }

  .featured-wrapper {
    flex-direction: row;
  }

  .featured__header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 45px;
  }

  .featured__title {
    font-size: 43px;
    line-height: 50px;
  }

  .featured__lure {
    width: 80px;
    margin-right: 25px;

    line-height: 17px;
    text-align: center;
  }

  .featured__text {
    @include clear;
    width: 285px;
    margin-bottom: 32px;

    font-size: 17px;
    line-height: 30px;
  }

  .featured__table {
    width: 86.8%;
    flex-shrink: 0;
    margin-bottom: 60px;
  }

  .featured__cell-right {
    padding-left: 0;
  }

  .featured-wrapper__right {
    display: block;
    margin-top: 5px;
  }

  .featured-wrapper__left,
  .featured-wrapper__right {
    width: 50%;
  }

  .featured-wrapper__mobile-picture {
    position: absolute;
    top: 7px;
    right: 1px;

    min-width: 333px;
    min-height: 404px;
  }

  .featured__price {
    font-size: 20px;
    padding-right: 45px;
    margin-bottom: 35px;
  }

  .featured__button {
    width: 292px;
  }
}

@media (min-width: $width-desktop) {
  .featured {
    margin-bottom: 70px;
  }

  .featured__header {
    justify-content: flex-start;
  }

  .featured__title {
    font-size: 53px;
    line-height: 57px;
  }

  .featured__lure {
    order: -1;
    margin-left: 42px;
    margin-right: 50px;
  }

  .featured-wrapper__mobile-picture {
    top: -161px;
    right: 0;
    z-index: -1;

    min-width: 525px;
    min-height: 636px;
  }

  .featured-wrapper__right {
    flex-shrink: 0;
  }

  .featured-wrapper__left {
    margin-left: 175px;
  }

  .featured__text {
    margin-bottom: 45px;
  }

  .featured__table {
    width: 84.3%;
    margin-bottom: 110px;
  }

  .featured__cell-left {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .featured__price {
    padding-right: 60px;
  }
}
