@import "../variables";
@import "../mixins";

$footer-bg-color: rgb(241, 241, 241);

.page-footer {
  @include block-center;
  width: $width-mobile;

  background-color: $footer-bg-color;

  &__copyright {
    position: relative;

    display: flex;
    margin-left: 30px;
    margin-right: 30px;

    border-top: 1px solid $footer-separator-color;
  }

  &__copyright p {
    @include clear;
    padding-top: 28px;
    padding-bottom: 34px;
    margin-left: 38px;

    font-size: 19px;
    line-height: 18px;
    font-weight: bold;
  }

  &__copyright svg {
    position: absolute;
    top: 23px;
    right: 39px;
  }
}
