@import "../variables";
@import "../mixins";

.page-footer {
  @include block-center;
  display: flex;
  flex-direction: column;

  background-color: $color-light-grey;
}

.page-footer__logo {
  display: none;
}

.page-footer__copyright {
  position: relative;

  display: flex;
  margin-left: 30px;
  margin-right: 30px;

  border-top: 1px solid $footer-separator-color;
}

.page-footer__copyright p {
  @include clear;
  padding-top: 28px;
  padding-bottom: 34px;
  margin-left: 38px;

  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
}

.page-footer__copyright svg {
  position: absolute;
  top: 23px;
  right: 39px;
}

@media (min-width: $width-tablet) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
  }

  .page-footer__logo {
    display: block;
    width: 102px;
    min-height: 34px;

    background-image: url("../../img/logo-footer.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .social {
    flex-shrink: 0;
  }

  .page-footer__copyright {
    width: 235px;
    flex-shrink: 0;
  }
}
