@import "../variables";
@import "../mixins";

$first-line-header-padding-top: 32px;
$second-line-header-padding-top: 25px;

.header {
  position: relative;
  z-index: 2;
  padding-left: 30px;
  padding-right: 30px;
}

.header__list {
  @include clear-list;
}

.header__list-item {
  padding: 32px 0;
  // text-align: center;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  border-bottom: 1px solid $border-color;

  a {
    color: $color-black;
  }

  &--logo {
    padding: 22px 0;
  }

  &--sale,
  &--delivery,
  &--new {
    display: none;
  }
}

.header__button--close {
  position: absolute;
  top: 29px;
  right: 30px;
  border: none;
  width: 21px;
  height: 20px;
  background: url("../../img/icon-menu-close.svg") center center no-repeat;
  background-size: contain;
}

.header__logo {
  display: block;
  margin: auto;
  width: 86px;
  height: 35px;
  font-size: 0;
  background: url("../../img/logo-mobile.svg") center center no-repeat;
  background-size: contain;
}


@media (min-width: $width-tablet) {
  .header {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header__separator {
    position: absolute;
    width: 100%;
    top: 88px;
    left: 0;
    height: 1px;
    background: $border-color;
  }

  .header__list {
    display: flex;
    flex-flow: row wrap;
    width: 670px;
    margin: 0 auto;
    padding: 0 52px;
  }

  .header__list-item {
    font-size: 15px;
    order: 7;
    border: none;

    &--logo {
      width: 320px;
      order: 0;
      border-right: 1px solid $border-color;
    }

    &--search {
      order: 1;
      width: 82px;
      border-right: 1px solid $border-color;
      border-left: none;
      font-size: 0;
      background: url("../../img/icon-search.svg") center center no-repeat;
    }

    &--basket {
      order: 2;
      padding-left: 82px;
    }

    &--catalog {
      order: 3;
      padding: 25px 0 0;
    }

    &--order {
      order: 4;
      padding: 25px 0 0 37px;
    }

    &--delivery {
      color: #444444;
      display: block;
      padding: 25px 0 0;
      margin-left: auto;
      font-weight: normal;
    }

    &--new,
    &--sale {
      display: none;
    }
  }

  .header__button {
    display: none;
  }

  .header__logo {
    margin: 0;
    width: 112px;
    height: 46px;
    background-image: url("../../img/logo-tablet.svg");
  }

  .header__button--close {
    position: static;
  }
}

@media (min-width: $width-desktop) {
  .header__list {
    @include clear-list;
    width: 1048px;
  }

  .header__list-item {
    font-size: 15px;
    order: 9;
    border: none;
    padding-top: $first-line-header-padding-top;

    &--catalog {
      font-size: 17px;
      order: 0;
      padding-right: 32px;
      border-right: 1px solid $border-color;
    }

    &--order {
      font-size: 17px;
      order: 1;
      padding-left: 35px;
    }

    &--logo {
      width: 100px;
      order: 2;
      border-right: 1px solid $border-color;
      padding-top: 10px;
      padding-left: 80px;
      padding-bottom: 0;
      padding-right: 150px;
    }

    &--search {
      order: 3;
      width: 82px;
      border-right: 1px solid $border-color;
      border-left: none;
      font-size: 0;
      background: url("../../img/icon-search.svg") center center no-repeat;
    }

    &--basket {
      font-size: 17px;
      padding-left: 80px;
      order: 4;
    }

    &--new {
      display: block;
      order: 5;
      padding-top: $second-line-header-padding-top;
      padding-right: 32px;
    }

    &--sale {
      display: block;
      order: 6;
      padding-top: $second-line-header-padding-top;
      padding-left: 35px;
    }

    &--delivery {
      color: #444444;
      display: block;
      margin-left: auto;
      font-weight: normal;
      padding-top: $second-line-header-padding-top;
    }
  }

  .header__logo {
    margin: 0;
    width: 149px;
    height: 72px;
    background-image: url("../../img/logo-desktop.svg");
  }
}
