@import "../variables";
@import "../mixins";

.page-logo {
  @include block-center;
  position: relative;

  &__link {
    @include block-center;
    display: block;
    width: 95px;
    padding: 40px 0;

    background-image: url("../../img/logo-mobile.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &__menu {
    position: absolute;
    top: 32px;
    right: 31px;

    cursor: pointer;
  }
}
