@import "../variables";
@import "../mixins";
@import "fonts";

body {
  @include clear;
  @include block-center;
  font-family: "Open Sans", "Helvetica", sans-serif;
  min-width: 320px;
  max-width: 1150px;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.container {
  @include block-center;
}

.modal-basket {
  display: none;
}
