@import "../variables";
@import "../mixins";

.slider__buttons {
  display: flex;
}

.slider__button {
  @include clear;
  width: 130px;
  height: 52px;

  border: 1px solid $border-color;
  background-color: $color-white;
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: 48% 50%;
  box-sizing: border-box;
}

.slider__next {
  width: 129px;

  background-image: url("../img/icon-right-arrow.svg");
  border-left: none;
}
