@import "../variables";
@import "../mixins";

.social {
  @include clear-list;
  display: flex;
  justify-content: center;
}

.social__item {
  display: block;
  padding: 20px;
}

.social__insta {
  padding-top: 30px;
}

.social__fb {
  padding-top: 25px;
}

.social__twitter {
  padding-top: 30px;
}
