@import "../variables";
@import "../mixins";

.social {
  @include clear-list;
  @include block-center;
  padding-top: 15px;
  padding-bottom: 22px;
  display: flex;
  width: 140px;
  justify-content: space-between;
}

.social__item {
  display: block;
  padding: 0;

  &--insta {
    padding-top: 5px;
  }

  &--twitter {
    padding-top: 5px;
  }

  &:hover,
  &:focus {
    fill: $color-lime;
  }

  &:active {
    opacity: 0.3;
  }
}


@media (min-width: $width-tablet) {
  .social {
    margin: 0;
    padding-top: 25px;
    margin-left: 100px;
  }

  .social__item {
    display: block;
    padding: 0;
    padding-top: 10px;

    &--fb {
      padding-top: 5px;
    }
  }
}

@media (min-width: $width-desktop) {
  .social {
    flex-shrink: 0;
    margin-left: -245px;
  }
}
