@import "variables";

.center-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $width-tablet) {
    width: 668px;
  }

  @media (min-width: $width-desktop) {
    width: 1050px;
  }

  &--mobile {
    @media (min-width: $width-desktop) {
      width: auto;
      margin-left: unset;
      margin-right: unset;
    }
  }

  &--desktop {
    @media (max-width: $width-desktop - 1) {
      width: 100%;
    }
  }
}
