@import "partials/mixins";
@import "partials/params";

.page-logo {
  @include block-center;
  position: relative;
  padding: 22px 0;
  padding-left: 116px;
  width: $width-mobile;
  box-sizing: border-box;

  &__title {
    display: block;
  }

  &__menu {
    position: absolute;
    top: 32px;
    right: 31px;
  }
}
