// Widths
// $width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1150px;

// Colors
$border-color: rgb(236, 236, 236);
$color-lime: rgb(99, 209, 187);
$color-lime-darker: rgb(86, 195, 178);
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$decor-green: rgb(20, 144, 128);
$table-border-color: rgb(236, 236, 236);
$button-border-color: rgb(68, 68, 68);
$footer-separator-color: rgb(229, 229, 229);
$bg-grey: rgb(204, 204, 204);
$color-light-grey: rgb(241, 241, 241);
